<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>네이버 뉴스 수집 데이터 모니터링</h1>
    </hr>
    <div id="news-box">
        <table id="table">
            <tr><td>회사</td><td>기사제목</td><td>기사 작성일</td></tr>
        </table>
    </div>
    <script>
        const eventSource = new EventSource("http://localhost:8080/news");
        // function(), () => : 둘이 같은 뜻
        eventSource.onmessage = function(event) {
            
            naverNews = JSON.parse(event.data);
            console.log(naverNews);

            $("#table").append("<tr><td>" + naverNews.company + "</td><td>" + naverNews.title + "</td><td>" + naverNews.createAt + "</td></tr>");
        }
    </script>
</body>
</html>